.catalog-books {

  .btn-lg {
    padding: .8rem 3rem;
    background-color: #ff8400;
    font-weight: bold;
    font-size: 16px;
    border: 0;

    &:hover {
      background-color: #ff9b00;
    }
  }

  .card-columns {
    .card {
      min-height: 336px;
      column-count: 1;
      background-color: transparent;
      //align-items: center;

      &-block {
        padding: 1rem 0;
      }

      &-text {
        //margin: 6px 0 0 0;
        padding: 0;
        display: block;
        overflow: hidden;
        font-size: 14px;
        line-height: 1.3;
        color: #c09020;
      }

      &-title {
        word-break: break-word;
        font-family: $font-family-sans-serif;
        margin: 0;
        padding: 0;
        display: inline-block;
        font-size: 16px;
        line-height: 1.3;
        font-weight: bold;
        color: black;

        &:hover {
          text-decoration: none;
          color: #004095;
        }
      }

    }


    // .card-columns

    @media (max-width: 330px) {
      column-count: 1;
    }
    @media (min-width: 331px) {
      column-count: 2;
      column-gap: 1.4rem;
    }
    @include media-breakpoint-up(sm) {
      column-count: 2;
      //column-gap: 1.5rem;
    }
    @include media-breakpoint-up(md) {
      column-count: 4;
      column-gap: 1.2rem;
    }
    @include media-breakpoint-up(lg) {
      column-count: 4;
      column-gap: 1.2rem;
    }
    @include media-breakpoint-up(xl) {
      column-count: 4;
      column-gap: 1.4rem;
      .card {min-height: 370px;}
    }

    &.wide {
      @media (max-width: 330px) {
        column-count: 1;
      }
      @media (min-width: 331px) {
        column-count: 2;
        column-gap: 1.4rem;
      }
      @include media-breakpoint-only(sm) {
        column-count: 3;
        column-gap: 1.2rem;
      }
      @include media-breakpoint-up(md) {
        column-count: 4;
        column-gap: 1.2rem;
      }
      @include media-breakpoint-only(lg) {
        column-count: 4;
        column-gap: 2rem;
        .card {min-height: 400px;}
      }
      @include media-breakpoint-up(xl) {
        column-count: 6;
        column-gap: 1.5rem;
        .card {min-height: 340px;}
      }
    }

  }

} // section.catalog
