.container.presentation {
  //padding: 60px 0;
  text-align: center;
  color: #2b2000;

  .lead {
    font-family: $font-family-serif;
    font-weight: bold;

    &+strong {
      font-weight: normal;
      //color: #2b2000;
      //color: #403000;
      //font-size: 17px;
      //line-height: 1.6;
      //font-size: 18px;
      //line-height: 1.5;
    }
  }

  @include media-breakpoint-down(sm) {
  }
  @include media-breakpoint-up(sm) {
    .lead {
      font-size: 28px;
    }
  }
}