extends templates/main.pug

block content

    // Top Menu 
    include partials/top_menu.pug

    //- Search Bar 
    //- include partials/pg-catalog/search.pug

    // Books Catalog 
    include partials/pg-catalog/catalog.pug
