
    <footer class="footer">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-main">
                <!--<div class="container">-->

                    <div class="navbar-brand">
                        <a href="#">Diasporiana</a>
                        <strong><span>Інтелектуальна спадщина</span> <span>Української еміграції</span></strong>
                    </div>

                    <ul class="navbar-nav">
                        <li class="active"><a class="nav-link" href="catalog.html">Каталог</a></li>
                        <li><a class="nav-link" href="pro-nas.html">Про нас</a></li>
                        <li><a class="nav-link" href="#donate">Пожертва</a></li>
                        <!--<li><a class="nav-link" href="#contacts">Контакти</a></li>-->
                        <li><a class="nav-link" href="http://diasporiana.org.ua/feed/">RSS</a></li>
                    </ul>

                <!--</div>-->
            </nav>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-6">
                    <dl class="indent">
                        <dd>Електронна Бібліотека</dd>
                        <dd>&copy; 2011 — 2017</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="info">
                        <dd>email <a href="mailto:diasporiana@i.ua">diasporiana@i.ua</a></dd>
                        <dd>facebook <a href="https://www.facebook.com/Diasporianaorgua/">Diasporianaorgua</a></dd>
                    </dl>
                </div>
            </div>

            <div class="clearfix"></div><br>

            <!--<div class="svg"><span></span></div>-->
            <!--<img src="assets/kbd/kbd_03.svg" />-->
            <!--<img src="assets/kbd/kbd_04.svg" />-->

            <!--<img src="https://rb.kubankredit.ru/img.theme/fatcow/16x16/keyboard.png">-->
            <!--<img src="http://www.xp85.com/uploadfile/2013/1023/20131023110125967.png">-->
            <div class="indent developedby"><a href="https://www.linkedin.com/in/yukal/" target="_blank"></a></div>

        </div>
    </footer>

    <!-- jQuery -->
    <script src="assets/js/jquery.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <!--<script src="assets/js/bootstrap.min.js"></script>-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="assets/js/ie10-viewport-bug-workaround.js"></script>-->

    <!-- Application -->
    <script src="assets/js/app.min.js"></script>
</body>
</html>