<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="Adaptive HTML template for Diasporiana website">
    <meta name="author" content="Yukal Alexander">

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link href="assets/css/theme.css" rel="stylesheet">-->

    <!-- Import Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif:400,700&amp;subset=cyrillic"
          rel="stylesheet">

    <title>Diasporiana — Інтелектуальна спадщина Української еміграції</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-main">
    <div class="container">
        <div class="navbar-brand">
            <a href="#">Diasporiana</a>
            <strong><span>Інтелектуальна спадщина</span> <span>Української еміграції</span></strong>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarMain"
                aria-controls="NavbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="NavbarMain">
            <div class="navbar-nav mr-auto"></div>

            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="catalog.html">Каталог</a></li>
                <li class="nav-item"><a class="nav-link" href="pro-nas.html">Про нас</a></li>
                <li class="nav-item"><a class="nav-link" href="#donate">Пожертва</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="#contacts">Контакти</a></li>-->
                <li class="nav-item"><a class="nav-link" href="http://diasporiana.org.ua/feed/">RSS</a></li>
            </ul>

        </div>
    </div>
</nav>
