<section class="container wrap">
    <div class="col-lg-12">
        <h2>Проект зі збереження інтелектуальної спадщини української еміграції</h2><br>
        <h3>Концепція електронної бібліотеки «Diasporiana»</h3>

        <p>Протягом уже більше 125 років українська еміграція та розсіяння в різних країнах світу, прагнучи зберегти національну та культурну ідентичність, видавала і видає велику кількість книжкових, періодичних та неперіодичних видань. Це великий шар інформації який з об’єктивних і суб’єктивних причин залишається невідомим не тільки широкій громадськості, але й науковцям.</p>
 
        <p>Маючи у фондах велику кількість рідкісних і цінних еміграційних документів та видань різних років, доступ користувачів до яких може бути обмежений через їх відсутність у більшості бібліотек та архівів України, ми сподіваємось, що створення цифрових копій таких видань є одним із пріоритетів їх збереження та надання вільного доступу до них через мережу Інтернет як науковцям, так і всім бажаючим. З огляду на зазначене Інститут журналістики і масової комунікації Класичного приватного університету (Запоріжжя) за підтримки ентузіастів та людей доброї волі ініціює створення електронної бібліотеки української діаспори «Diasporiana».</p>

        <br>
        <h4>Цілі та завдання Проекту:</h4>
        <p>Проект створення електронної бібліотеки на теперішньому етапі не планується як складова інших загальнонаціональних проектів електронних бібліотек та спрямований на досягнення наступних цілей:</p>

        <ul>
          <li>зміцнення культурних зв’язків і формування позитивного іміджу України у світі.</li>
          <li>забезпечення можливості вільного доступу користувачів до надбань української еміграції за допомогою Інтернет.</li>
          <li>створення електронних копій друкованих документів, що знаходяться у фондах бібліотек та інших закладів культури, приватних колекціях з метою збереження інтелектуальної спадщини та запобігання фізичній втраті документів.</li>
          <li>можливість працювати одночасно з одним і тим же виданням багатьом користувачам та зручність перегляду.</li>
        </ul>

        <br>
        <h4>Електронна бібліотека орієнтована на широкі кола користувачів і вирішує наступні основні задачі:</h4>

        <ul>
          <li>просвітницьку, в рамках якої формуються колекції, спрямовані на поширення знань про українську еміграцію та її досягнення.</li>
          <li>наукову, направлену на сприяння глибокому вивченню теми (предмету) науковцями і фахівцями в галузі суспільних і гуманітарних дисциплін.</li>
          <li></li>
        </ul>

        <br>

        <h4>Учасники Проекту:</h4>
        <p>На основі взаємних інтересів у галузі розвитку інформаційних технологій в Україні, прагнучи до об’єднання зусиль у створенні інформаційного ресурсу з єдиною точкою доступу та визнаючи якісні переваги, що відкриваються для кожної зі сторін, до участі в Проекті запрошуються бібліотеки, музеї, архіви та приватні особи, які можуть надавати інформаційні ресурси відповідно до профілю комплектування електронної бібліотеки.</p>
        <p>Основними принципами співробітництва є:</p>

        <ul>
          <li>добровільність співпраці.</li>
          <li>відкритість (учасниками можуть бути будь-які установи чи громадські організації, а також приватні особи, які підтримують ідею Проекту).</li>
        </ul>

        <br>
        <h4>Критерії добору матеріалів для цифрування:</h4>

        <ul>
          <li>Суспільна, історико-культурна та наукова цінність документу.</li>
          <li>Відповідність профілю комплектування.</li>
        </ul>


        <br>
        <p>Для представлення повних текстів використовуються: формати PDF та DJVU.</p>

        <p><strong>Олег Богуславський</strong>, diasporiana@i.ua</p>
    </div>
</section>
