
<section class="container wrap catalog-books">

    <nav class="navbar wrap genres">
        <button class="btn btn-block navbar-toggler" type="button" data-toggle="collapse" data-target="#NavbarGenres1"
                aria-controls="NavbarGenres1" aria-expanded="false" aria-label="Toggle navigation">Жанри</button>

        <div class="collapse navbar-collapse card-deck" id="NavbarGenres1">
            <ul class="card">
                <li><a href="#">Ucrainica</a></li>
                <li><a href="#">Фольклор</a></li>
                <li><a href="#">Дитяча література</a></li>
                <li><a href="#">Літературознавство</a></li>
                <li><a href="#">Мовознавство</a></li>
            </ul>
            <ul class="card">
                <li><a href="#">Історія</a></li>
                <li><a href="#">Періодика</a></li>
                <li><a href="#">Політологія</a></li>
                <li><a href="#">Ідеологія</a></li>
            </ul>
            <ul class="card">
                <li><a href="#">Мемуари</a></li>
                <li><a href="#">Поезія</a></li>
                <li><a href="#">Проза</a></li>
                <li><a href="#">Драма</a></li>
            </ul>
            <ul class="card">
                <li><a href="#">Релігія</a></li>
                <li><a href="#">Мистецтво</a></li>
                <li><a href="#">Словники</a></li>
                <li><a href="#">Довідники</a></li>
                <li><a href="#">Різне</a></li>
            </ul>
        </div>
    </nav>

    <div class="card-columns">
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-01.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Duel</a>
                <span class="card-text">Проза, 1986 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-02.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Vita Nova</a>
                <span class="card-text">Проза, 1957 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-03.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">В обіймах Мельпомени</a>
                <span class="card-text">Проза, 1954 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-04.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">The Ukrainian Folk Dance</a>
                <span class="card-text">Фольклор, 1980 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-05.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Самостійник</a>
                <span class="card-text">Проза, 1955 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-06.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">Теофанова дочка</a>
                <span class="card-text">Проза, 1946 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-07.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">Любовна історія</a>
                <span class="card-text">Проза, 1947 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-08.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">Старосвітське панство</a>
                <span class="card-text">Історія, 1999 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-09.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Ягілки</a>
                <span class="card-text">Фольклор, 1969 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-10.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">The Moscow Games of 1980</a>
                <span class="card-text">Політологія, 1981 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-11.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Дочка Монтезуми</a>
                <span class="card-text">Проза, 1953 р.</span>
            </div>
        </div>

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-12.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">The Soviet Buroecratic Elite</a>
                <span class="card-text">Політологія, 1959 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-13.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Всесвітна війна близько</a>
                <span class="card-text">Релігія, 1935 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-14.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Літопис УПА</a>
                <span class="card-text">Довідники, '73-2012 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-15.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Luzes na gua</a>
                <span class="card-text">Проза, 1997 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-16.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">У Києві на риночку</a>
                <span class="card-text">Фольклор, **** р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-17.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Словник синонімів української мови</a>
                <span class="card-text">Довідники, 1975 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-18.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Маковей Осип Ярошенко</a>
                <span class="card-text">Проза, 1962 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-19.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Івасик-телесик</a>
                <span class="card-text">Дитяча літ-ра, 1925 р.</span>
            </div>
        </div>
        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-20.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">Молода Україна</a>
                <span class="card-text">Періодика, 1965 р.</span>
            </div>
        </div>
    </div>


    <!--<div class="clearfix"></div>-->

    <nav aria-label="pagination">
        <ul class="pagination float-right">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </nav>
</section>
