footer.footer

    .container
        nav.navbar.navbar-expand-md.navbar-main

            .navbar-brand
                a(href="#") Diasporiana
                strong
                    span Інтелектуальна спадщина
                    span Української еміграції

            ul.navbar-nav
                li.active
                    a.nav-link(href="catalog.html") Каталог
                li
                    a.nav-link(href="pro-nas.html") Про нас
                li
                    a.nav-link(href="#donate") Пожертва
                li
                    a.nav-link(href="http://diasporiana.org.ua/feed/") RSS

        .clearfix

        .row
            .col-md-6
                dl.indent
                    dd Електронна Бібліотека
                    dd &copy; 2011 — 2017

            .col-md-6
                dl.info
                    dd email 
                        a(href="mailto:diasporiana@i.ua") diasporiana@i.ua
                    dd facebook 
                        a(href="https://www.facebook.com/Diasporianaorgua/") Diasporianaorgua

        .clearfix
        br

        .indent.developedby
            a(href="https://www.linkedin.com/in/yukal/" target="_blank")
