<section class="container wrap catalog-books">
    <div class="card-columns wide">

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-10.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">The Moscow Games of 1980</a>
                <p class="card-text">Політологія, 1981 р.</p>
            </div>
        </div>

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-01.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Duel</a>
                <p class="card-text">Проза, 1986 р.</p>
            </div>
        </div>

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-02.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Vita Nova</a>
                <p class="card-text">Проза, 1957 р.</p>
            </div>
        </div>

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-03.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">В обіймах Мельпомени</a>
                <p class="card-text">Проза, 1954 р.</p>
            </div>
        </div>

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-04.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">The Ukrainian Folk Dance</a>
                <p class="card-text">Фольклор, 1980 р.</p>
            </div>
        </div>

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-16.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">У Києві на риночку</a>
                <p class="card-text">Фольклор, **** р.</p>
            </div>
        </div>


        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-20.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">Молода Україна</a>
                <p class="card-text">Періодика, 1965 р.</p>
            </div>
        </div>

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-05.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Самостійник</a>
                <p class="card-text">Проза, 1955 р.</p>
            </div>
        </div>

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-06.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">Теофанова дочка</a>
                <p class="card-text">Проза, 1946 р.</p>
            </div>
        </div>

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-07.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">Любовна історія</a>
                <p class="card-text">Проза, 1947 р.</p>
            </div>
        </div>

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-08.jpg"></a>
            <div class="card-block">
                <a class="card-title" href="#">Старосвітське панство</a>
                <p class="card-text">Історія, 1999 р.</p>
            </div>
        </div>

        <div class="card">
            <a href="#"><img class="card-img-top img-fluid" src="assets/img/book-15.png"></a>
            <div class="card-block">
                <a class="card-title" href="#">Luzes na agua</a>
                <p class="card-text">Проза, 1997 р.</p>
            </div>
        </div>

    </div>

    <!-- Indicates caution should be taken with this action -->
    <!--<button type="button" class="btn btn-lg btn-warning">Переглянути все</button>-->
    <p class="text-center"><a href="#catalog" class="btn btn-lg btn-warning">Переглянути все</a></p>

</section>
