
<section class="container wrap">
    <div class="offset-lg-2 col-lg-8 offset-xl-2 col-xl-8">
    <div class="row">
        <nav class="navbar genres">
        <div class="card-deck wide">

            <ul class="card">
                <li><a href="#">Ucrainica</a></li>
                <li><a href="#">Фольклор</a></li>
                <li><a href="#">Дитяча література</a></li>
                <li><a href="#">Літературознавство</a></li>
                <li><a href="#">Мовознавство</a></li>
            </ul>

            <ul class="card">
                <li><a href="#">Історія</a></li>
                <li><a href="#">Періодика</a></li>
                <li><a href="#">Політологія</a></li>
                <li><a href="#">Ідеологія</a></li>
            </ul>

            <ul class="card">
                <li><a href="#">Мемуари</a></li>
                <li><a href="#">Поезія</a></li>
                <li><a href="#">Проза</a></li>
                <li><a href="#">Драма</a></li>
            </ul>

            <ul class="card">
                <li><a href="#">Релігія</a></li>
                <li><a href="#">Мистецтво</a></li>
                <li><a href="#">Словники</a></li>
                <li><a href="#">Довідники</a></li>
                <li><a href="#">Різне</a></li>
            </ul>

        </div>
        </nav>
    </div>
    </div>
</section>
